<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- info.name %></title>

    <%- data.cssData %>
</head>
<body>
    <audio id="player" autoplay></audio>

    <div id="playlist-frame" data-grid>
        <header id="area-header">
            <div class="cover">
                <span class="placeholder-img"></span>
                <div class="shadow"></div>
            </div>
        </header>

        <main id="area-control">