<% include header %>

    <div class="player-list">
        <ul>
            <% data.playList.forEach((item, index) => { %>
                <li data-playId="<%- item.id %>" data-flex="cross-center">
                    <span class="num"><%- index + 1 %></span>
                    <span class="title"><%- item.name %></span>
                </li>
            <% }) %>
        </ul>
    </div>

<% include footer %>