<% include header %>

<section id="control-name-artist" data-grid>
    <div class="item name">
        <span class="placeholder-text"></span>
    </div>

    <div class="item artist">
        <span class="placeholder-text"></span>
    </div>

    <button class="radom" data-item="cross-center">
        <span class="icon"></span>
    </button>
</section>

<section id="control-process">
    <div class="bar">
        <span class="fill"></span>
        <span class="buff"></span>
        <span class="bg"></span>
    </div>
    <div class="time" data-flex="main-between">
        <span class="text played">00:00</span>
        <span class="text total">00:00</span>
    </div>
</section>

<section id="control-btn" data-flex="main-around">
    <button class="prev" data-flex="cross-center main-center">
        <span class="icon"></span>
    </button>

    <button class="status play" data-flex="cross-center main-center">
        <span class="icon"></span>
    </button>

    <button class="next" data-flex="cross-center main-center">
        <span class="icon"></span>
    </button>
</section>

<% include footer %>