:root {
    --text: 15px/1.6;

    --color-black: #454322;
    --color-green: #6d6d6d;
    --color-sakura: #FEDFE1;
    
    /* 框架 */
    --header-width: 4rem;
    --gap-col-width: 1.5rem;

    /* 播放器 */
    --player-icon-size: 1.2rem;

    --player-progress-height: .45rem;
}

@media screen and (min-width: 769px) {
    :root {
        /* 框架 */
        --header-width: 15rem;
        --gap-col-width: 3rem;

        --player-component: 5rem
    }
}