html {
	font: var(--text) "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    color: var(--color-font);
    background-color: var(--color-bg)
}

/* 
    框架
*/
#playlist-frame {
    height: 100vh;
    grid-template-rows: var(--header-height) var(--gap-row) auto
}

    #area-header {
        grid-area: 1 / 1 / 3 / 2
    }

    #area-control {
        grid-area: 2 / 1 / 4 / 2
    }


@media screen and (min-width: 426px) {
    #playlist-frame {
        grid-template-columns: auto 500px auto;
    }

    #area-header {
        grid-area: 1 / 1 / 3 / 4
    }

    #area-control {
        grid-area: 2 / 2 / 4 / 3
    }
}

@media screen and (min-width: 769px) {
    #playlist-frame {
        grid-template-rows: 350px;
        grid-template-columns: 350px 350px;
        justify-content: center;
        align-content: center
    }

    #area-header {
        grid-area: 1 / 1 / 2 / 2
    }

    #area-control {
        grid-area: 1 / 2 / 2 / 3
    }
}
/*
    侧边栏
*/
#area-header {
}

    #area-header .cover {
        width: 100%;
        height: 100%;
        position: relative
    }

        #area-header .cover img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: var(--header-radius)
        }

        #area-header .cover img + .placeholder-img { display: none }

        #area-header .cover .placeholder-img {
            display: block;
            z-index: -1
        }

        #area-header .cover .shadow {
            position: absolute;
            left: 0%;
            top: 30px;
            width: 100%;
            height: 100%;
            z-index: -1;
            border-radius: var(--header-radius);
            filter: blur(10px) brightness(80%) opacity(.7);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: var(--cover-shadow)
        }

/*
    播放列表
*/
#area-control {
    background: #fff;
    border-radius: var(--control-radius);
    padding: var(--control-padding);
    box-shadow: 1px 15px 10px 17px #00000014
}

    #control-name-artist {
        text-align: center
    }

        #control-name-artist div.name {
            min-height: 1.8rem;
            line-height: 1.8rem;
            font-size: 1.2rem;
            margin-bottom: .4rem
        }
            
            #control-name-artist div.name span:nth-child(1) + .placeholder-text {
                display: none
            }

            #control-name-artist div.name .placeholder-text {
                width: 10rem
            }

        #control-name-artist div.artist {
            min-height: 1.2rem;
            line-height: 1.2rem;
            font-size: 1rem;
            color: var(--color-meta)
        }

            #control-name-artist div.artist span:nth-child(1) + .placeholder-text {
                display: none
            }

            #control-name-artist div.artist .placeholder-text {
                width: 5rem
            }

    #control-process {
        margin-top: 1.5rem
    }

        #control-process .bar {
            position: relative;
            width: 100%;
            height: 8px;
            border-radius: 999px;
            overflow: hidden
        }

            #control-process .bar > span {
                display: block;
                position: absolute;
                height: inherit;
                border-radius: inherit
            }

            #control-process .bar .fill {
                z-index: 3;
                background: var(--color-focus);
                width: 0;
                animation-timing-function: linear;
                animation-fill-mode: forwards;
                transition: width ease-out 160ms
            }

            @keyframes music-bar-end {
                to {
                    width: 100%
                }
            }

            #control-process .bar .buff {
                z-index: 2;
                background: #d6d6d6
            }

            #control-process .bar .bg {
                width: 100%;
                z-index: 1;
                background: #eaeaea
            }

        #control-process .time {
            margin-top: .2rem
        }

        #control-process .time .text {
            color: var(--color-meta);
            font-size: .85rem
        }

    #control-btn {
        margin-top: 1.5rem
    }

        #control-btn > button:not() {}

        #control-btn > button {
            width: 3.3rem;
            height: 3.3rem;
            background: var(--color-focus);
            border-radius: 999px
        }

            #control-btn > button .graph {
                background-color: #fff;
                width: 1.1rem;
                height: 1.1rem;
                transition: all 0.2s linear
            }

            #control-btn > button.prev .graph {
                -webkit-clip-path: polygon(0 0, 12% 0, 12% 48%, 100% 0, 100% 100%, 12% 52%, 12% 100%, 0 100%);
                clip-path: polygon(0 0, 12% 0, 12% 48%, 100% 0, 100% 100%, 12% 52%, 12% 100%, 0 100%)
            }

            #control-btn > button.play .graph {
                -webkit-clip-path: polygon(6% 0, 94% 50%, 6% 100%);
                clip-path: polygon(6% 0, 94% 50%, 6% 100%)
            }

            #control-btn > button.pause .graph {
                -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)
            }

            #control-btn > button.next .graph {
                -webkit-clip-path: polygon(0 0, 88% 48%, 88% 0, 100% 0, 100% 100%, 88% 100%, 88% 52%, 0 100%);
                clip-path: polygon(0 0, 88% 48%, 88% 0, 100% 0, 100% 100%, 88% 100%, 88% 52%, 0 100%)
            }
