html {
	font: var(--text) "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    color: var(--color-text);
    background-color: var(--color-bg);
    overflow: hidden
}

/* 
    框架
*/
#playlist-frame {
    grid-template-rows: calc(var(--header-height) - var(--header-height-less)) var(--gap-row) auto;
    position: fixed;
    width: 100%;
    height: 100%
}

    #area-header {
        grid-area: 1 / 1 / 3 / 2
    }

    #area-control {
        z-index: 1;
        grid-area: 2 / 1 / 4 / 2
    }


@media screen and (min-width: 426px) {
    #playlist-frame {
        grid-template-columns: auto 425px auto;
    }

    #area-header {
        grid-area: 1 / 1 / 3 / 4
    }

    #area-control {
        grid-area: 2 / 2 / 4 / 3
    }
}

@media screen and (min-width: 769px) {
    #playlist-frame {
        grid-template-rows: 350px;
        grid-template-columns: 350px 350px;
        justify-content: center;
        align-content: center
    }

    #area-header {
        grid-area: 1 / 1 / 2 / 2
    }

    #area-control {
        z-index: unset;
        grid-area: 1 / 2 / 2 / 3
    }
}
/*
    侧边栏
*/
#area-header {
}

    #area-header .cover {
        width: 100%;
        height: 100%;
        position: relative
    }

        #area-header .cover img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: var(--header-radius)
        }

        #area-header .cover img + .placeholder-img { display: none }

        #area-header .cover .placeholder-img {
            display: block;
            z-index: -1;
            border-radius: var(--header-radius)
        }

        #area-header .cover .shadow {
            position: absolute;
            left: 3px;
            top: 25px;
            width: 100%;
            height: 100%;
            z-index: -1;
            border-radius: var(--header-radius);
            filter: blur(10px) brightness(80%) opacity(.7);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: var(--cover-shadow);
            background-color: var(--color-header-shadow)
        }

/*
    播放控制
*/
#area-control {
    background: var(--color-bg-control);
    border-radius: var(--control-radius);
    padding: var(--control-padding);
    padding-bottom: 0;
    box-shadow: var(--control-shadow) var(--color-control-shadow)
}

    #control-name-artist {
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;
        grid-gap: .4rem
    }

        #control-name-artist div.name {
            min-height: 1.8rem;
            line-height: 1.8rem;
            font-size: 1.2rem
        }

        @media screen and (min-width: 769px) {
            #control-name-artist div.name.rows {
                line-height: 1.4rem;
                font-size: 1rem
            }
        }
            
            #control-name-artist div.name span:nth-child(1) + .placeholder-text {
                display: none
            }

            #control-name-artist div.name .placeholder-text {
                width: 10rem;
                height: 1.8rem;
                animation: 550ms ease-in-out infinite alternate load-name
            }

            @keyframes load-name {
                to {
                    width: 11.2rem
                }
            }

        #control-name-artist div.artist {
            grid-area: 2 / 1 / 3 / 2;
            min-height: 1.2rem;
            line-height: 1.2rem;
            font-size: 1rem;
            color: var(--color-meta-text)
        }

            #control-name-artist div.artist span:nth-child(1) + .placeholder-text {
                display: none
            }

            #control-name-artist div.artist .placeholder-text {
                width: 5rem;
                height: 1.2rem;
                animation: 550ms ease-in-out 275ms infinite alternate load-artist
            }

            @keyframes load-artist {
                to {
                    width: 6rem
                }
            }

        #control-name-artist button.radom {
            grid-area: 1 / 2 / 3 / 3
        }

            #control-name-artist button.radom.on .icon {
                background-color: var(--color-focus);
            }

            #control-name-artist button.radom .icon {
                clip-path: polygon(9% 0,50% 41%,77.5% 13.5%,64% 0,100% 0,100% 36%,86.5% 22.5%,59% 50%,86.5% 77.5%,100% 64%,100% 100%,64% 100%,77.5% 86.5%,50% 59%,9% 100%,0 91%,41% 50%,0 9%);
                -webkit-clip-path: polygon(9% 0,50% 41%,77.5% 13.5%,64% 0,100% 0,100% 36%,86.5% 22.5%,59% 50%,86.5% 77.5%,100% 64%,100% 100%,64% 100%,77.5% 86.5%,50% 59%,9% 100%,0 91%,41% 50%,0 9%)
            }

    #control-process {
        margin-top: 1.5rem
    }

        #control-process .bar {
            position: relative;
            width: 100%;
            height: 8px;
            border-radius: 999px;
            overflow: hidden
        }

            #control-process .bar > span {
                display: block;
                position: absolute;
                height: inherit;
                border-radius: inherit
            }

            #control-process .bar .fill {
                z-index: 3;
                background: var(--color-focus);
                width: 0;
                animation-timing-function: linear;
                animation-fill-mode: forwards;
                transition: width ease-out 160ms
            }

            @keyframes music-bar-end {
                to {
                    width: 100%
                }
            }

            #control-process .bar .buff {
                z-index: 2;
                background: var(--color-bar-buff)
            }

            #control-process .bar .bg {
                width: 100%;
                z-index: 1;
                background: var(--color-bar-bg)
            }

        #control-process .time {
            margin-top: .2rem
        }

        #control-process .time .text {
            color: var(--color-meta-text);
            font-size: .85rem
        }

    #control-btn {
        margin-top: 1.5rem;
        padding: 0 7%
    }

        #control-btn > button {
            width: 3.3rem;
            height: 3.3rem
        }

            #control-btn > button.status {
                background: var(--color-focus);
                border-radius: 999px;
                box-shadow: var(--control-status-shadow)
            }

                #control-btn > button.status .icon {
                    background-color: var(--color-main-icon)
                }

                #control-btn > button.status.play .icon {
                    -webkit-clip-path: polygon(6% 0, 94% 50%, 6% 100%);
                    clip-path: polygon(6% 0, 94% 50%, 6% 100%)
                }

                #control-btn > button.status.pause .icon {
                    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)
                }

            #control-btn > button.prev .icon {
                -webkit-clip-path: polygon(0 0, 12.727% 0, 12.727% 48%, 100% 0, 100% 100%, 12.727% 52%, 12.727% 100%, 0 100%);
                clip-path: polygon(0 0, 12.727% 0, 12.727% 48%, 100% 0, 100% 100%, 12.727% 52%, 12.727% 100%, 0 100%)
            }

            #control-btn > button.next .icon {
                -webkit-clip-path: polygon(0 0, 87.273% 48%, 87.273% 0, 100% 0, 100% 100%, 87.273% 100%, 87.273% 52%, 0 100%);
                clip-path: polygon(0 0, 87.273% 48%, 87.273% 0, 100% 0, 100% 100%, 87.273% 100%, 87.273% 52%, 0 100%)
            }

    #control-lyric {
        margin-top: 1.5rem   
    }

        #control-lyric .list {
            width: 100%;
            height: 1.4rem;
            text-align: center;
            overflow: hidden
        }

            #control-lyric ul {
                margin: 0;
                padding: 0;
                transition: all ease-in 250ms
            }

                #control-lyric li {
                    display: block;
                    font-size: .95rem;
                    min-height: 1.4rem;
                    line-height: 1.4rem
                }

            #control-lyric ul + .placeholder-text {
                display: none
            }

            #control-lyric .placeholder-text {
                display: inline-block;
                width: 10rem;
                height: 1.4rem;
                animation: 550ms ease-in-out infinite alternate load-lyric
            }

            @keyframes load-lyric {
                to {
                    width: 11.2rem
                }
            }

    #control-bottom {
        height: 1rem
    }